@tailwind base;
@tailwind components;
@tailwind utilities;

.infobox-field {
  display: block;
  word-break: break-word;
}

.unselectable {
  user-select: none;
}
a {
  color: rgba(5, 159, 255, 0.94);
}
.infobox-title {
  display: block;
  font-weight: bold;
  word-break: break-word;
}

.text-input{
  color: black;
}

body{
  background-color: #274372;
}

@layer components{
  .home{
    @apply flex justify-center items-center bg-navy-50 
      rounded-md w-36 h-20 shadow-lg shadow-navy-700 cursor-pointer hover:scale-105 
      transition-transform text-center align-middle text-navy-800 text-xl 
      decoration-navy-200 underline;
  }
}

.cls-1 {
  fill: #b0b3e3;
}

.cls-2 {
  fill: #ffd6a5;
}

.cls-3 {
  fill: #ffd064;
}

.cls-4 {
  fill: #ff9a7c;
}

.cls-5 {
  fill: #c8e797;
}

.cls-6 {
  fill: #f3ad72;
}

.cls-7 {
  fill: #ffbfb6;
}

.cls-8 {
  fill: #c5c2b5;
}

.cls-9 {
  fill: none;
}

.cls-10 {
  fill: #ffffe8;
}

.cls2-2 {
  font-size: 35.5px;
}

.cls2-6 {
  font-size: 30.54px;
}

.cls2-10 {
  font-size: 31.93px;
}
.dropdown:hover .dropdown-menu {
  display: grid;
}