doctype html
html
  head
    title Ulina Map
    link(rel='stylesheet', href='/scss/style.css')
  body
    script(src='/javascripts/s.js')
    script(src='/javascripts/named-register.js')
    div(style="margin-left: 5px")
      block content