extends layout

block content
    a(class="btn btn-primary" role="button" href="view-map") View Map
    a(class="btn btn-primary" role="button" href="view-nations") View Nations
    a(class="btn btn-primary" role="button" href="time") Time Converter