@function text-stroke($size: 2, $color: #fff, $correction: 0) {
  $radius: $size - $correction;
  $stroke: ();

  @for $i from -$size through $size {
    @for $k from -$size through $size {

      $x: $k;
      $y: $i;

      @if $k > 0 {
        $x: $k - 0.5;
      } @else if $k < 0 {
        $x: $k + 0.5;
      }

      @if $i > 0 {
        $y: $i - 0.5;
      } @else if $i < 0 {
        $y: $i + 0.5;
      }

      @if ($x*$x + $y*$y <= $radius*$radius) {
        $stroke: append($stroke, $i*1px $k*1px 0 $color, comma);
      }
    }
  }

  @return $stroke;
}

@mixin text-stroke($size: 2, $color: #fff, $correction: 0) {
  text-shadow: text-stroke($size, $color, $correction);
}

@import "./bootstrap/bootstrap";

body{
  padding: 0;
  background-color: #274372;
  color: rgb(255,255,255);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.back {
  text-decoration: underline;
}

svg {
  //background: #c8e8fb;
  background: #274372;
}

svg path{
  stroke: black;
}

a{
  color: rgba(5, 159, 255, 0.94);
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error-text{
  @include text-stroke(1, red);
  color: $danger;
}

#popover{
  color: white;
  background-color: black;
}

#infobox {
  background: black;
}

.limit-width{
  width: 99%;
}
