extends layout

block content
    script(type="text/javascript").
        const nations = !{JSON.stringify(nations)};
        System.import('/javascripts/client/mapViewer.js');

    div(id="popover" class="unselectable" style="position: absolute;")
    div(id="infobox" style="position: absolute; width: min-content; min-width: 20vw" class="vstack")
        div(class="row" style="width: max-content")
            h1(id="name" style="width:max-content; display: inline-block;" class="col-auto")
            div(class="col-auto ml-auto" style="display: inline-block;")
                button(id="close-infobox" class="btn danger" style="color: black;") X
        h2(id="continent")
        h5 Socials:
        table(id="socials" class="vstack")
        p(id="description" style="max-width: 100%")

    div(style="background-color:black")!=xml